html {
  font-family: 'Roboto', sans-serif;
}
mdui-text-field#search {
  margin-top: 16px;
  margin-bottom: 16px;
}

mdui-button {
  width: 100%;
  font-weight: 700;
  margin-bottom: 16px;
}

mdui-icon {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

#drawer {
  z-index: 12000;
  h1 {
    margin-top: 40px;
    margin-left: 16px;
  }
  mdui-button {
    vertical-align: text-bottom;
    margin-left: 30px;
    width: 160px;
  }
}

.hidden {
  visibility: hidden;
}

.mdui-no-overwrap {
  overflow: hidden;
}

mdui-layout-main {
  padding-top: 0px;
  position: relative;
  margin: auto;
  width: 90%;
  text-align: center;
  min-width: 360px;
  max-width: 720px;
}

mdui-avatar {
  width: 64px;
  height: 64px;
}

h1 {
  margin-top: 32px;
  margin-bottom: 16px;
}

mdui-navigation-bar {
  max-width: 640px;
  padding: auto;
  margin: 0 auto;
  z-index: 2501;
}

@media screen and (max-width: 479px) {
  div#screen_warning {
    visibility: visible !important;
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: rgb(0, 0, 0);
    padding: 100%;
    width: 95%;
    overflow: scroll;
    color: white;
    z-index: 1000000;
    text-align: center;
    transform: translate(-50%, -50%);
  }
  body {
    overflow: hidden;
  }
}

@media screen and (min-width: 479px) {
  div#screen_warning {
    visibility: hidden !important;
    display: none !important;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
  }
}
